*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(112, 112, 209);
}

h1{
    color: white;
}

ul{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
    list-style: none;
}

li{
    color: white;
    font-size: 1.2rem;
}